*.swp

Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.log
config.status
configure
depcomp
compile
install-sh
missing


*.o
*.deps

emoncms.conf
dht22/dht22_emoncms
huawei/huawei_emoncms
raspi_internal/raspi_internal_emoncms
raspi_pulsecount/raspi_pulsecount_emoncms
wlan/wlan_emoncms
bme280/bme280_emoncms
bme280/bme280_mqtt
axp209/axp209_emoncms
